.feed{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0.8;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;
    
}
@media (max-width:990px){
    .feed{
        flex: 1;
        width: 100%;
        align-items: center;
        margin-right:100px !important;
    }
}